
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-blink infinite 16s linear;
    /*animation: App-logo-exec infinite 1.6s linear;*/
  }
}

@keyframes App-logo-blink {
  0% { transform: scaleY(0.1); }
  0.25% { transform: scaleY(1.0); }
  40.0% { transform: scaleY(1.0); }
  41.05% { transform: scaleY(0.1); }
  41.25% { transform: scaleY(1.0); }
  60.00% { transform: scaleY(1.0); }
  60.75% { transform: scaleY(0.1); }
  61.00% { transform: scaleY(1.0); }
  99.5% { transform: scaleY(1.0); }
  100% { transform: scaleY(0.1); }
}

@keyframes App-logo-exec {
  0% { transform: scaleY(1.0) rotate(0deg); }
  5% { transform: scaleY(1.0) rotate(1deg); }
  10% { transform: scaleX(0.975) rotate(-1deg); }
  15% { transform: scaleY(1.05) rotate(3deg); }
  20% { transform: scaleY(1.06) rotate(-4deg); }
  25% { transform: scaleX(0.925) rotate(3.2deg); }
  30% { transform: scaleX(0.915) rotate(-3.2deg); }
  35% { transform: scaleY(1.28) rotate(-7deg); }
  40% { transform: scaleY(1.32) rotate(7deg); }
  46% { transform: scaleY(1.02) rotate(0deg); }
  50% { transform: scaleX(0.85) scaleY(1.45) rotate(-6deg); }
  54% { transform: scaleY(1.02) rotate(0deg); }
  60% { transform: scaleY(1.35) rotate(4deg); }
  70% { transform: scaleX(0.925) rotate(-5deg); }
  80% { transform: scaleY(1.05) rotate(3.5deg); }
  90% { transform: scaleX(0.975) rotate(-2deg); }
  100% { transform: scaleY(1.0) rotate(0deg); }
}

